[submodule "amdgraphicsfix"]
	path = amdgraphicsfix
	url = https://github.com/shroysha/amdgraphicsfix.git
	branch = master
[submodule "bashhome"]
	path = bashhome
	url = https://github.com/shroysha/bashhome.git
	branch = master
[submodule "resumegen"]
	path = resumegen
	url = https://github.com/shroysha/resumegen.git
	branch = master
[submodule "t48-gym-tensorflow"]
	path = t48-gym-tensorflow
	url = https://github.com/shroysha/t48-gym-tensorflow.git
	branch = master
