[submodule "bashhome"]
	path = bashhome
	url = https://github.com/shroysha/bashhome.git
	branch = master
[submodule "gmod-math"]
	path = gmod-math
	url = https://github.com/shroysha/gmod-math.git
	branch = master
[submodule "openaigym-2048"]
	path = openaigym-2048
	url = https://github.com/shroysha/openaigym-2048.git
	branch = master
[submodule "openaigym-stocks"]
	path = openaigym-stocks
	url = https://github.com/shroysha/openaigym-stocks.git
	branch = master
[submodule "amdgraphicsfix"]
	path = amdgraphicsfix
	url = https://github.com/shroysha/amdgraphicsfix.git
	branch = master
[submodule "resumegen"]
	path = resumegen
	url = https://github.com/shroysha/resumegen.git
	branch = master
